Repository tinker-michaelj/hedera-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-consensus-node-foundation-codeowners, @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners, @hiero-ledger/hiero-consensus-node-consensus-codeowners, @jsync-swirlds, @hiero-ledger/hiero-mirror-node-maintainers, @rbair23, @dalvizu, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @rbarker-dev, @Ferparishuertas, @beeradb, @hiero-ledger/hiero-consensus-node-devops-codeowners, @tinker-michaelj

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-ledger/github-maintainers
#########################
##### Example apps ######
#########################
# Foundation Base Example app
/example-apps/**/module-info.java               @hiero-ledger/hiero-consensus-node-foundation-codeowners
/example-apps/swirlds-platform-base-example/    @hiero-ledger/hiero-consensus-node-foundation-codeowners

#########################
##### HAPI protobuf #####
#########################

/hapi/                                          @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-smart-contract-codeowners @hiero-ledger/hiero-consensus-node-consensus-codeowners
/hapi/hedera-protobufs/services                 @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-smart-contract-codeowners @jsync-swirlds @hiero-ledger/hiero-mirror-node-maintainers


#########################
##### Hedera Node  ######
#########################

# Hedera Node Root Protections
/hedera-node/                                   @hiero-ledger/hiero-consensus-node-execution-codeowners

# Hedera Node Deployments - Configuration & Grafana Dashboards
/hedera-node/configuration/**                   @rbair23 @dalvizu @Nana-EC @SimiHunjan @steven-sheehy @nathanklick @rbarker-dev @Ferparishuertas @beeradb
/hedera-node/configuration/dev/**               @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/infrastructure/**                  @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-devops-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners

# Hedera Node Docker Definitions
/hedera-node/docker/                            @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/github-maintainers

# Hedera Node Modules
/hedera-node/hapi*/                             @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-admin*/                     @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-app*/                       @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-consensus*/                 @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-file*/                      @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-network*/                   @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-schedule*/                  @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-smart-contract*/            @hiero-ledger/hiero-consensus-node-smart-contract-codeowners @tinker-michaelj
/hedera-node/hedera-token*/                     @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-util*/                      @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-staking*/                   @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/test-clients/                      @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

# Documentation
/hedera-node/docs/design/services/smart-contract-service    @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

###############################
##### Hedera Cryptography #####
###############################
# add @rsinha as an explicit codeowner once hiero-invite has been added
/hedera-cryptography/                               @hiero-ledger/hiero-consensus-node-foundation-codeowners

#########################
##### Platform SDK ######
#########################

# Platform SDK Root Protections
/platform-sdk/                                      @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/README.md                             @hiero-ledger/hiero-consensus-node-consensus-codeowners

# Platform SDK Modules
/platform-sdk/consensus-*/                          @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/platform-apps/                        @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/swirlds-base/                         @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-benchmarks/                   @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-cli/                          @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/swirlds-common/                       @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-component-framework/          @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/swirlds-config-*/                     @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-fchashmap/                    @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-fcqueue/                      @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-logging/                      @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-logging-*/                    @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-merkle/                       @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-merkledb/                     @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-metrics-*/                    @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-platform-core/                @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/swirlds-state-*/                      @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-unit-tests/structures/        @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-virtualmap/                   @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/**/module-info.java                   @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-foundation-codeowners

####################
#####   HAPI  ######
####################
/hapi/                                              @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

# Documentation
/platform-sdk/docs/platformWiki.md                  @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/docs/base                             @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/docs/components                       @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/docs/core                             @hiero-ledger/hiero-consensus-node-consensus-codeowners

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                           @hiero-ledger/github-maintainers
/.github/workflows/                                 @hiero-ledger/github-maintainers
/.github/workflows/node-zxf-deploy-integration.yaml @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-devops-codeowners
/.github/workflows/node-zxf-deploy-preview.yaml     @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-devops-codeowners

# Legacy Maven project files
**/pom.xml                                          @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-devops-codeowners

# Gradle project files and inline plugins
/gradle/                                            @hiero-ledger/github-maintainers
gradlew                                             @hiero-ledger/github-maintainers
gradlew.bat                                         @hiero-ledger/github-maintainers
**/build-logic/                                     @hiero-ledger/github-maintainers
**/gradle.*                                         @hiero-ledger/github-maintainers
**/*.gradle.*                                       @hiero-ledger/github-maintainers

# Codacy Tool Configurations
/config/                                            @hiero-ledger/github-maintainers
.remarkrc                                           @hiero-ledger/github-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                         @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                          @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-foundation-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-consensus-codeowners
**/LICENSE                                          @hiero-ledger/github-maintainers

# CodeCov configuration
**/codecov.yml                                      @hiero-ledger/github-maintainers

# Git Ignore definitions
**/.gitignore                                       @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-foundation-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-consensus-codeowners
**/.gitignore.*                                     @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-foundation-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-consensus-codeowners

# Legacy CircleCI configuration
.circleci.settings.xml                              @hiero-ledger/github-maintainers 
/.circleci/                                         @hiero-ledger/github-maintainers

fix missing system set up
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemTransactions.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

add block-nodes.json
  hedera-node/configuration/dev/application.properties
  hedera-node/configuration/dev/block-nodes.json
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

set block node
  hedera-node/configuration/dev/application.properties
  hedera-node/configuration/dev/block-nodes.json
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

chore: Various minor improvements in Otter API (#19489)
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationAndFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/HappyPathTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/SandboxTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/TestEnvironment.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/assertions/MultipleNodeConsensusResultsAssert.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/assertions/MultipleNodeLogResultsAssert.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/assertions/SingleNodeConsensusResultAssert.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/assertions/SingleNodeLogResultAssert.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleTestEnvironment.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

ci: remove windows-2019 runner option (#19491)
  .github/workflows/docs/required_checks.md
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
Owners: @hiero-ledger/github-maintainers

chore: Update node-flow-build-application to perform full MATS test (#19518)
  .github/workflows/node-flow-build-application.yaml
Owners: @hiero-ledger/github-maintainers

chore: Add error reporting to node-flow-build-application cleanup Hedera Services text in workflows (#19530)
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxcron-release-branching.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Owners: @hiero-ledger/github-maintainers

chore: Reclaim ingest throttle capacity after other failures (#19500)
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/throttles/BucketThrottle.java
  hedera-node/hapi-utils/src/main/java/com/hedera/node/app/hapi/utils/throttles/DeterministicThrottle.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/AppThrottleFactory.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/BucketThrottleUsage.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/DeterministicThrottleUsage.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/NetworkUtilizationManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/SynchronizedThrottleAccumulator.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/ThrottleAccumulator.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/ThrottleReqsManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/throttle/ThrottleUsage.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/ingest/IngestChecker.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/ingest/IngestWorkflowImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/query/QueryWorkflowImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/query/QueryWorkflowInjectionModule.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/AppThrottleFactoryTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/SynchronizedThrottleAccumulatorTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/ThrottleAccumulatorTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/throttle/impl/NetworkUtilizationManagerImplTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/ingest/IngestCheckerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/ingest/IngestWorkflowImplTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/query/QueryWorkflowImplTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/consensus/HapiMessageSubmit.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/EmbeddedVerbs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/throttling/SteadyStateThrottlingTest.java
  hedera-node/test-clients/src/main/resources/testSystemFiles/artificial-limits.json
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

test: Re add jumbo bytes throttles test (#19501)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/ethereum/JumboTransactionsEnabledTest.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

fix: fix broken Otter tests (#19524)
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationAndFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/assertions/SingleNodePcesResultAssert.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/internal/result/NodeResultsCollector.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

test: fix StateFileManagerTests.sequenceOfStatesTest (#19529)
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/StateFileManagerTests.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

test: Support transaction submission, registration for batch components (#19527)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpecOperation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/HapiTxnOp.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/contract/HapiContractCall.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/util/HapiAtomicBatch.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

test: Unify start() and revive() (#19540)
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationAndFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/SandboxTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Node.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

fix: Add continue-on-error logic to failure reporting in workflows (#19551)
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
Owners: @hiero-ledger/github-maintainers

fix: Don't use `SHARD`/`REALM` constants in test-clients (#19545)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/throttling/SteadyStateThrottlingTest.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

test: Split the method Network.prepareUpgrade() in freeze() and shutdown() (#19539)
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationAndFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/SandboxTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Network.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Node.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

chore: Add error reporting to flow-deploy-release-artifact and fixes (#19538)
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
Owners: @hiero-ledger/github-maintainers

build: Add Otter Tests as PR check (#19552)
  .github/workflows/docs/required_checks.md
  .github/workflows/node-flow-pull-request-checks.yaml
  .github/workflows/node-zxc-compile-application-code.yaml
Owners: @hiero-ledger/github-maintainers

chore: Remove `AtomicBatch` from prod throttles (#19213)
  hedera-node/configuration/mainnet/upgrade/throttles.json
  hedera-node/configuration/previewnet/upgrade/throttles.json
  hedera-node/configuration/testnet/upgrade/throttles.json
Owners: @rbair23, @dalvizu, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @rbarker-dev, @Ferparishuertas, @beeradb

fix: HbarAllowanceCall reversion gas (#19388) (#19560)
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/hbarallowance/HbarAllowanceCall.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/systemcontracts/has/hbarallowance/HbarAllowanceTranslator.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/systemcontracts/has/hbarAllowance/HbarAllowanceCallTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpecSetup.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/assertions/ContractFnResultAsserts.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/CreatePrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip906/HbarAllowanceApprovalTest.java
  hedera-node/test-clients/src/main/resources/spec-default.properties
Owners: @hiero-ledger/hiero-consensus-node-smart-contract-codeowners, @tinker-michaelj, @hiero-ledger/hiero-consensus-node-execution-codeowners

chore: automate lifecycle of TransactionGenerator (#19561)
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationAndFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/HappyPathTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/SandboxTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Node.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/TransactionGenerator.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleTestEnvironment.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleTransactionGenerator.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

chore: Introduce fixed random seed (#19559)
  platform-sdk/consensus-otter-tests/src/testFixtures/java/module-info.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/junit/OtterTestExtension.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleSpecs.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleTestEnvironment.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners, @hiero-ledger/hiero-consensus-node-foundation-codeowners

fix: Add ingest throttle for inner batch transactions (#19103)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/ingest/IngestChecker.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/query/QueryWorkflowImpl.java
  hedera-node/hedera-util-service-impl/src/main/java/com/hedera/node/app/service/util/impl/handlers/AtomicBatchHandler.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/node/HapiNodeDelete.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip551/AtomicBatchNegativeTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip551/AtomicBatchTest.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

chore: stop release 61 60 regression (#19554)
  .github/workflows/node-zxcron-release-fsts-regression.yaml
  .github/workflows/platform-zxcron-release-jrs-regression.yaml
Owners: @hiero-ledger/github-maintainers

chore: Cleanup of timeout configuration (#19563)
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationAndFreezeTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundMigrationTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/HappyPathTest.java
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/SandboxTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/AsyncNetworkActions.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/AsyncNodeActions.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Network.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Node.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

chore: Remove Network.resume() (#19562)
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundFreezeTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Network.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

chore: Simplified version handling (#19553)
  platform-sdk/consensus-otter-tests/build.gradle.kts
  platform-sdk/consensus-otter-tests/src/test/java/org/hiero/otter/test/BirthRoundFreezeTest.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Network.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Node.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNodeConfiguration.java
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-consensus-node-consensus-codeowners

fix: use exception handler for all wiring exceptions (#19513)
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/model/DeterministicWiringModel.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/model/StandardWiringModel.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/model/internal/deterministic/DeterministicHeartbeatScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/model/internal/deterministic/DeterministicTaskScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/model/internal/standard/AbstractHeartbeatScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/model/internal/standard/HeartbeatScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/model/internal/standard/HeartbeatTask.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/ExceptionHandlers.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/TaskScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/builders/internal/AbstractTaskSchedulerBuilder.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/internal/ConcurrentTaskScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/internal/DirectTaskScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/internal/NoOpTaskScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/internal/SequentialTaskScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/schedulers/internal/SequentialThreadTaskScheduler.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/wires/output/NoOpOutputWire.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/wires/output/OutputWire.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/wires/output/StandardOutputWire.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/wires/output/internal/ForwardingOutputWire.java
  platform-sdk/swirlds-component-framework/src/main/java/com/swirlds/component/framework/wires/output/internal/TransformingOutputWire.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/turtle/gossip/SimulatedGossipTests.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

chore: switch hashgraph GUI to NGen (#19564)
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/GuiEventStorage.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/HashgraphPictureOptions.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/HashgraphGuiControls.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/HashgraphPicture.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/PictureMetadata.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gui/hashgraph/internal/StandardGuiSource.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/internal/EventImpl.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

feat: Stop populating generation (#19542)
  platform-sdk/consensus-event-creator-impl/src/test/java/org/hiero/consensus/event/creator/impl/tipset/TipsetEventCreatorTestUtils.java
  platform-sdk/consensus-model/src/main/java/org/hiero/consensus/model/event/EventMetadata.java
  platform-sdk/consensus-model/src/main/java/org/hiero/consensus/model/event/PlatformEvent.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Network.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNodeConfiguration.java
  platform-sdk/consensus-utility/src/main/java/org/hiero/consensus/config/EventConfig.java
  platform-sdk/platform-apps/tests/MigrationTestingTool/src/main/java/com/swirlds/demo/migration/MigrationTestingToolMain.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/SwirldsPlatform.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/linking/SimpleLinker.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/validation/DefaultInternalEventValidator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/PlatformStateAccessor.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/state/service/PlatformStateFacade.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/BirthRoundMigrationShim.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/events/DefaultBirthRoundMigrationShim.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
  platform-sdk/swirlds-platform-core/src/main/java/module-info.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/consensus/EventEmitterTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/consensus/GraphGeneratorTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/orphan/OrphanBufferTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/validation/InternalEventValidatorTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/system/events/BirthRoundMigrationShimTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/system/events/EventMetadataTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/wiring/PlatformWiringTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/event/EventUtils.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners, @hiero-ledger/hiero-consensus-node-foundation-codeowners

chore: 19576: A typo in VirtualNodeCache.merge() (#19577)
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/cache/VirtualNodeCache.java
Owners: @hiero-ledger/hiero-consensus-node-foundation-codeowners

test: Atomic Batch additional testing (#19398)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/HapiSpecOperation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/transactions/util/HapiAtomicBatch.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/utilops/UtilVerbs.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AtomicConsensusServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AtomicCryptoServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AtomicFileServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AtomicScheduleServiceFeesSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AtomicSmartContractServiceFeesTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip551/AtomicBatchTest.java
  hedera-node/test-clients/src/main/resources/scheduled-contract-fees.json
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

fix: Log active config *after* initializing props and permissions facilities (#19568)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/HederaInjectionComponent.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/FacilityInitModule.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/standalone/ExecutorComponent.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/standalone/TransactionExecutors.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/standalone/TransactionExecutorsTest.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

fix errors
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemTransactions.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

fix errors
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemTransactions.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

test: Validate base fees inside of atomic batch for smart token service (#19578)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AtomicTokenServiceFeesSuite.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

chore: remove usage of generation in tests (#19581)
  platform-sdk/consensus-event-creator-impl/src/test/java/org/hiero/consensus/event/creator/impl/tipset/ChildlessEventTrackerTests.java
  platform-sdk/consensus-model/src/main/java/org/hiero/consensus/model/event/PlatformEvent.java
  platform-sdk/consensus-model/src/testFixtures/java/org/hiero/consensus/model/test/fixtures/event/TestingEventBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/SwirldsPlatform.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesBirthRoundMigration.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/consensus/CoinRoundTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/consensus/GraphGeneratorTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/EventImplTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/linking/InOrderLinkerTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/orphan/OrphanBufferTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/preconsensus/CommonPcesWriterTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/preconsensus/PcesBirthRoundMigrationTests.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/sync/SyncFilteringTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/sync/SyncTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/ConsensusOutput.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/OutputNoEventsLostValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/consensus/framework/validation/RoundInternalEqualityValidation.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/event/EventUtils.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/event/RandomEventUtils.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/event/generator/AbstractGraphGenerator.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/event/generator/GraphGenerator.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/gui/TestGuiSource.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

refactor: Tipset.merge() method to support an empty list (#19287)
  platform-sdk/consensus-event-creator-impl/build.gradle.kts
  platform-sdk/consensus-event-creator-impl/src/main/java/org/hiero/consensus/event/creator/impl/tipset/Tipset.java
  platform-sdk/consensus-event-creator-impl/src/main/java/org/hiero/consensus/event/creator/impl/tipset/TipsetTracker.java
  platform-sdk/consensus-event-creator-impl/src/main/java/org/hiero/consensus/event/creator/impl/tipset/TipsetWeightCalculator.java
  platform-sdk/consensus-event-creator-impl/src/test/java/org/hiero/consensus/event/creator/impl/tipset/TipsetTests.java
  platform-sdk/consensus-event-creator-impl/src/test/java/org/hiero/consensus/event/creator/impl/tipset/TipsetTrackerTests.java
  platform-sdk/consensus-event-creator-impl/src/test/java/org/hiero/consensus/event/creator/impl/tipset/TipsetWeightCalculatorTests.java
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-consensus-node-consensus-codeowners

chore: Add metrics for indirect proofs (#19558)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImpl.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/blocks/impl/BlockStreamManagerImplTest.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

fix(19206): SequentialTaskSchedulerTests flake fixes (#19354)
  platform-sdk/base-concurrent/src/testFixtures/java/org/hiero/base/concurrent/test/fixtures/ConsumerWithCompletionControl.java
  platform-sdk/base-concurrent/src/testFixtures/java/org/hiero/base/concurrent/test/fixtures/ExecutionControl.java
  platform-sdk/base-concurrent/src/testFixtures/java/org/hiero/base/concurrent/test/fixtures/FunctionWithExecutionControl.java
  platform-sdk/base-concurrent/src/testFixtures/java/org/hiero/base/concurrent/test/fixtures/Gate.java
  platform-sdk/base-concurrent/src/testFixtures/java/org/hiero/base/concurrent/test/fixtures/RunnableCompletionControl.java
  platform-sdk/swirlds-component-framework/build.gradle.kts
  platform-sdk/swirlds-component-framework/src/test/java/com/swirlds/component/framework/schedulers/SequentialTaskSchedulerTests.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners, @hiero-ledger/hiero-consensus-node-foundation-codeowners, @hiero-ledger/github-maintainers
