Repository tinker-michaelj/hedera-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-consensus-node-foundation-codeowners, @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners, @hiero-ledger/hiero-consensus-node-consensus-codeowners, @jsync-swirlds, @hiero-ledger/hiero-mirror-node-maintainers, @rbair23, @dalvizu, @Nana-EC, @SimiHunjan, @steven-sheehy, @nathanklick, @rbarker-dev, @Ferparishuertas, @beeradb, @hiero-ledger/hiero-consensus-node-devops-codeowners, @tinker-michaelj

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-ledger/github-maintainers
#########################
##### Example apps ######
#########################
# Foundation Base Example app
/example-apps/**/module-info.java               @hiero-ledger/hiero-consensus-node-foundation-codeowners
/example-apps/swirlds-platform-base-example/    @hiero-ledger/hiero-consensus-node-foundation-codeowners

#########################
##### HAPI protobuf #####
#########################

/hapi/                                          @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-smart-contract-codeowners @hiero-ledger/hiero-consensus-node-consensus-codeowners
/hapi/hedera-protobufs/services                 @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-smart-contract-codeowners @jsync-swirlds @hiero-ledger/hiero-mirror-node-maintainers


#########################
##### Hedera Node  ######
#########################

# Hedera Node Root Protections
/hedera-node/                                   @hiero-ledger/hiero-consensus-node-execution-codeowners

# Hedera Node Deployments - Configuration & Grafana Dashboards
/hedera-node/configuration/**                   @rbair23 @dalvizu @Nana-EC @SimiHunjan @steven-sheehy @nathanklick @rbarker-dev @Ferparishuertas @beeradb
/hedera-node/configuration/dev/**               @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/infrastructure/**                  @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-devops-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners

# Hedera Node Docker Definitions
/hedera-node/docker/                            @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/github-maintainers

# Hedera Node Modules
/hedera-node/hapi*/                             @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-admin*/                     @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-app*/                       @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-consensus*/                 @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-file*/                      @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-network*/                   @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-schedule*/                  @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-smart-contract*/            @hiero-ledger/hiero-consensus-node-smart-contract-codeowners @tinker-michaelj
/hedera-node/hedera-token*/                     @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-util*/                      @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/hedera-staking*/                   @hiero-ledger/hiero-consensus-node-execution-codeowners
/hedera-node/test-clients/                      @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

# Documentation
/hedera-node/docs/design/services/smart-contract-service    @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

###############################
##### Hedera Cryptography #####
###############################
# add @rsinha as an explicit codeowner once hiero-invite has been added
/hedera-cryptography/                               @hiero-ledger/hiero-consensus-node-foundation-codeowners

#########################
##### Platform SDK ######
#########################

# Platform SDK Root Protections
/platform-sdk/                                      @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/README.md                             @hiero-ledger/hiero-consensus-node-consensus-codeowners

# Platform SDK Modules
/platform-sdk/consensus-*/                          @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/platform-apps/                        @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/swirlds-base/                         @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-benchmarks/                   @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-cli/                          @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/swirlds-common/                       @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-component-framework/          @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/swirlds-config-*/                     @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-fchashmap/                    @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-fcqueue/                      @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-logging/                      @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-logging-*/                    @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-merkle/                       @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-merkledb/                     @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-metrics-*/                    @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-platform-core/                @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/swirlds-state-*/                      @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-unit-tests/structures/        @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/swirlds-virtualmap/                   @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/**/module-info.java                   @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-foundation-codeowners

####################
#####   HAPI  ######
####################
/hapi/                                              @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

# Documentation
/platform-sdk/docs/platformWiki.md                  @hiero-ledger/hiero-consensus-node-consensus-codeowners @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/docs/base                             @hiero-ledger/hiero-consensus-node-foundation-codeowners
/platform-sdk/docs/components                       @hiero-ledger/hiero-consensus-node-consensus-codeowners
/platform-sdk/docs/core                             @hiero-ledger/hiero-consensus-node-consensus-codeowners

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                           @hiero-ledger/github-maintainers
/.github/workflows/                                 @hiero-ledger/github-maintainers
/.github/workflows/node-zxf-deploy-integration.yaml @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-devops-codeowners
/.github/workflows/node-zxf-deploy-preview.yaml     @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-devops-codeowners

# Legacy Maven project files
**/pom.xml                                          @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-devops-codeowners

# Gradle project files and inline plugins
/gradle/                                            @hiero-ledger/github-maintainers
gradlew                                             @hiero-ledger/github-maintainers
gradlew.bat                                         @hiero-ledger/github-maintainers
**/build-logic/                                     @hiero-ledger/github-maintainers
**/gradle.*                                         @hiero-ledger/github-maintainers
**/*.gradle.*                                       @hiero-ledger/github-maintainers

# Codacy Tool Configurations
/config/                                            @hiero-ledger/github-maintainers
.remarkrc                                           @hiero-ledger/github-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                         @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                          @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-foundation-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-consensus-codeowners
**/LICENSE                                          @hiero-ledger/github-maintainers

# CodeCov configuration
**/codecov.yml                                      @hiero-ledger/github-maintainers

# Git Ignore definitions
**/.gitignore                                       @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-foundation-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-consensus-codeowners
**/.gitignore.*                                     @hiero-ledger/github-maintainers @hiero-ledger/hiero-consensus-node-foundation-codeowners @hiero-ledger/hiero-consensus-node-execution-codeowners @hiero-ledger/hiero-consensus-node-consensus-codeowners

# Legacy CircleCI configuration
.circleci.settings.xml                              @hiero-ledger/github-maintainers 
/.circleci/                                         @hiero-ledger/github-maintainers

intermezzo
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemSetup.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

chore(19408): track PcesWriter metrics more granularly (#19458)
  platform-sdk/base-utility/src/main/java/org/hiero/base/io/streams/SerializableDataOutputStream.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/DefaultInlinePcesWriter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesFileChannelWriter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesFileManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesFileWriter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesFileWriterStats.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesMetrics.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesMutableFile.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesOutputStreamFileWriter.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/preconsensus/PcesWriterPerEventMetrics.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners, @hiero-ledger/hiero-consensus-node-foundation-codeowners

intermezzo
  hedera-node/configuration/dev/application.properties
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemTransactions.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

test: HIP-551 signature verification tests (#19515)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip551/AtomicBatchMiscSignatureTest.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

fix: 19459: VirtualHasher: split hashing tasks into leaves and chunks (#19534)
  platform-sdk/swirlds-virtualmap/src/main/java/com/swirlds/virtualmap/internal/hash/VirtualHasher.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/hash/VirtualHasherHugeTest.java
  platform-sdk/swirlds-virtualmap/src/test/java/com/swirlds/virtualmap/internal/hash/VirtualHasherTest.java
Owners: @hiero-ledger/hiero-consensus-node-foundation-codeowners

test: Validate base fees inside of atomic batch for the MiscellaneousFeesSuite (#19579)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/fees/AtomicMiscellaneousFeesSuite.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

Fix genesis setup
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/SystemTransactions.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners

test: Fuzz testing for AtomicBatch (#19327)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/providers/ops/crypto/RandomAtomicBatch.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/providers/ops/crypto/RandomTransfer.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/providers/ops/crypto/RandomTransferFromSigner.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/providers/ops/crypto/RandomTransferToSigner.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/providers/ops/schedule/RandomScheduleSign.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/providers/ops/token/RandomTokenAssociation.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/infrastructure/providers/ops/token/RandomTokenTransfer.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/AtomicBatchFuzzing.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/regression/factories/AtomicBatchProviderFactory.java
  hedera-node/test-clients/src/main/resources/eet-config/id-fuzzing.properties
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

fix: don't use nodes which haven't reported us as fallen behind for reconnect (#19580)
  platform-sdk/consensus-gossip/src/main/java/org/hiero/consensus/gossip/FallenBehindManager.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/FallenBehindManagerImpl.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/shadowgraph/ShadowgraphSynchronizer.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/gossip/sync/SyncManagerImpl.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/reconnect/FallenBehindManagerTest.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/sync/TestingSyncManager.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

ci: fix tck regression tests (#19455)
  .github/workflows/zxc-tck-regression.yaml
Owners: @hiero-ledger/github-maintainers

test: Extend throttle tests for HIP-551 (#19617)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/ethereum/JumboTransactionsEnabledTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/hip551/AtomicBatchNegativeTest.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

chore: Zero out deprecated fields used for birth round migration (#19615)
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/SwirldsPlatform.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

fix: Change port on which test is running to avoid collisions with other parallel tests (#19342)
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/gossip/modular/PeerCommunicationTests.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

ci: write workflow to update GS_STATE variable (#19639)
  .github/workflows/zxf-update-gs-state-variable.yaml
Owners: @hiero-ledger/github-maintainers

ci: fix typo in status reporting (#19645)
  .github/workflows/node-flow-deploy-release-artifact.yaml
Owners: @hiero-ledger/github-maintainers

chore(19590): Remove AddressBook JRS Test (#19622)
  .github/workflows/platform-zxf-jrs-daily-interval-06.yaml
  gradle/aggregation/build.gradle.kts
  platform-sdk/platform-apps/tests/AddressBookTestingTool/README.md
  platform-sdk/platform-apps/tests/AddressBookTestingTool/build.gradle.kts
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestScenario.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolConfig.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolConsensusStateEventHandler.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolMain.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/AddressBookTestingToolState.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/com/swirlds/demo/addressbook/TransactionGenerator.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/main/java/module-info.java
  platform-sdk/platform-apps/tests/AddressBookTestingTool/src/test/java/com/swirlds/demo/addressbook/AddressBookTestingToolStateTest.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/testreader/testMetadata.csv
  platform-sdk/swirlds/build.gradle.kts
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-consensus-node-consensus-codeowners, @hiero-ledger/hiero-consensus-node-foundation-codeowners

fix: Timing issue on main in flow-build-application (#19586)
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/node-zxf-deploy-integration.yaml
  .github/workflows/zxf-prepare-extended-test-suite.yaml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-consensus-node-devops-codeowners

fix: Issue with dry-run-enabled in node-flow-deploy-release-artifact (#19659)
  .github/workflows/node-flow-deploy-release-artifact.yaml
Owners: @hiero-ledger/github-maintainers

chore: Initial setup for SoloEnvironment (#19589)
  platform-sdk/consensus-otter-tests/build.gradle.kts
  platform-sdk/consensus-otter-tests/src/testFixtures/java/module-info.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Network.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/Node.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/NodeConfiguration.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/TimeManager.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/internal/AbstractNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/internal/RegularTimeManager.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/junit/OtterTestExtension.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/solo/SoloNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/solo/SoloNode.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/solo/SoloNodeConfiguration.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/solo/SoloSpecs.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/solo/SoloTestEnvironment.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/solo/SoloTransactionGenerator.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNetwork.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleSpecs.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleTimeManager.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleTransactionGenerator.java
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-consensus-node-consensus-codeowners, @hiero-ledger/hiero-consensus-node-foundation-codeowners

chore: Remove birth round test from nightly JRS suite (#19650)
  .github/workflows/platform-zxf-jrs-daily-interval-06.yaml
Owners: @hiero-ledger/github-maintainers

feat: Support `grpcProxyEndpoint` in yahcli DAB transactions (#19664)
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/CreateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/commands/nodes/UpdateCommand.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/CreateNodeSuite.java
  hedera-node/test-clients/src/yahcli/java/com/hedera/services/yahcli/suites/UpdateNodeSuite.java
  hedera-node/test-clients/yahcli/README.md
  hedera-node/test-clients/yahcli/run/build.sh
  hedera-node/test-clients/yahcli/run/publish.sh
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

fix: Failed atomic batch rollback contract ID of a failed inner contract call (#19613)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/BlockStreamBuilder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/blocks/impl/PairedStreamBuilder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/record/RecordStreamBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/CallOutcome.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/exec/scope/HandleHederaOperations.java
  hedera-node/hedera-smart-contract-service-impl/src/main/java/com/hedera/node/app/service/contract/impl/records/ContractCreateStreamBuilder.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/exec/scope/HandleHederaOperationsTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/ContractCreateHandlerTest.java
  hedera-node/hedera-smart-contract-service-impl/src/test/java/com/hedera/node/app/service/contract/impl/test/handlers/EthereumTransactionHandlerTest.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/junit/support/translators/impl/ContractCallTranslator.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners, @tinker-michaelj

chore(19651): flush branch detector (#19655)
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformCoordinator.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners

chore: Update failure reporting to go to multiple slack channels (#19674)
  .github/workflows/node-flow-build-application.yaml
  .github/workflows/node-flow-deploy-release-artifact.yaml
  .github/workflows/zxcron-extended-test-suite.yaml
  .github/workflows/zxcron-promote-build-candidate.yaml
Owners: @hiero-ledger/github-maintainers

fix: 19623 Fixed `DataFileCollectionCompactionTest` intermittent failure. (#19624)
  platform-sdk/swirlds-merkledb/src/test/java/com/swirlds/merkledb/files/DataFileCollectionCompactionTest.java
Owners: @hiero-ledger/hiero-consensus-node-foundation-codeowners

fix: Pass ref to publish-production-image to fix cache keys mismatch (#19677)
  .github/workflows/node-zxc-build-release-artifact.yaml
  .github/workflows/zxc-publish-production-image.yaml
Owners: @hiero-ledger/github-maintainers

feat(18377): Disallow setting duplicate roster (#19072)
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/ServicesMain.java
  platform-sdk/consensus-otter-tests/src/testFixtures/java/org/hiero/otter/fixtures/turtle/TurtleNode.java
  platform-sdk/consensus-utility/build.gradle.kts
  platform-sdk/consensus-utility/src/main/java/org/hiero/consensus/roster/RosterHistory.java
  platform-sdk/consensus-utility/src/main/java/org/hiero/consensus/roster/RosterRetriever.java
  platform-sdk/consensus-utility/src/main/java/org/hiero/consensus/roster/RosterUtils.java
  platform-sdk/consensus-utility/src/main/java/org/hiero/consensus/roster/WritableRosterStore.java
  platform-sdk/consensus-utility/src/test/java/org/hiero/consensus/roster/RosterUtilsTest.java
  platform-sdk/consensus-utility/src/test/java/org/hiero/consensus/roster/WritableRosterStoreTest.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/Browser.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/ReconnectStateLoader.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/builder/PlatformComponentBuilder.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/validation/DefaultEventSignatureValidator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/validation/EventSignatureValidator.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/event/validation/RosterUpdate.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/system/address/AddressBookUtils.java
  platform-sdk/swirlds-platform-core/src/main/java/com/swirlds/platform/wiring/PlatformWiring.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/AddressBookInitializerTest.java
  platform-sdk/swirlds-platform-core/src/test/java/com/swirlds/platform/event/validation/EventSignatureValidatorTests.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/roster/RosterServiceStateMock.java
  platform-sdk/swirlds-platform-core/src/testFixtures/java/com/swirlds/platform/test/fixtures/turtle/runner/TurtleNode.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-consensus-codeowners, @hiero-ledger/github-maintainers

chore: Fixes flaky test `TopicCreateSuite.signingRequirementsEnforced` (#19647)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/consensus/TopicCreateSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/token/TokenCreateSpecs.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

test: RecordCreationSuite submittingNodeChargedNetworkFeeForIgnoringPayerUnwillingness Flaky HAPI Test (#19640)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/records/RecordCreationSuite.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

test: Fix PrngPrecompileSuite flakiness (#19663)
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/spec/queries/meta/HapiGetTxnRecord.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/contract/precompile/PrngPrecompileSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/AutoAccountCreationSuite.java
  hedera-node/test-clients/src/main/java/com/hedera/services/bdd/suites/crypto/HollowAccountFinalizationSuite.java
Owners: @hiero-ledger/hiero-consensus-node-execution-codeowners, @hiero-ledger/hiero-consensus-node-smart-contract-codeowners

feat: Allow updating previous value in Gauge metrics (#19627)
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/metrics/noop/internal/NoOpDoubleGauge.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/metrics/noop/internal/NoOpIntegerGauge.java
  platform-sdk/swirlds-common/src/main/java/com/swirlds/common/metrics/noop/internal/NoOpLongGauge.java
  platform-sdk/swirlds-metrics-api/src/main/java/com/swirlds/metrics/api/DoubleGauge.java
  platform-sdk/swirlds-metrics-api/src/main/java/com/swirlds/metrics/api/IntegerGauge.java
  platform-sdk/swirlds-metrics-api/src/main/java/com/swirlds/metrics/api/LongGauge.java
  platform-sdk/swirlds-metrics-impl/src/main/java/com/swirlds/metrics/impl/DefaultDoubleGauge.java
  platform-sdk/swirlds-metrics-impl/src/main/java/com/swirlds/metrics/impl/DefaultIntegerGauge.java
  platform-sdk/swirlds-metrics-impl/src/main/java/com/swirlds/metrics/impl/DefaultLongGauge.java
  platform-sdk/swirlds-metrics-impl/src/test/java/com/swirlds/metrics/impl/test/DefaultDoubleGaugeTest.java
  platform-sdk/swirlds-metrics-impl/src/test/java/com/swirlds/metrics/impl/test/DefaultIntegerGaugeTest.java
  platform-sdk/swirlds-metrics-impl/src/test/java/com/swirlds/metrics/impl/test/DefaultLongGaugeTest.java
Owners: @hiero-ledger/hiero-consensus-node-consensus-codeowners, @hiero-ledger/hiero-consensus-node-foundation-codeowners
